<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>


<div class="container-fluid mt-3" id="app">
    <input type="text" class="form-control" v-model="criterioDeBusqueda"
        placeholder="Ingresar un criterio de busqueda...">
        <input type="text" class="form-control" v-model="criterioDeBusquedaNyA"
        placeholder="Ingresar un criterio de busqueda nombre y apellido">
        <input type="text" class="form-control" v-model="criterioDeBusquedaDNI"
        placeholder="Ingresar un criterio de busqueda DNI">
    <br>
    <div class="card-deck m-0">
        <div class="row">
            <div class="col" v-for="persona in personasFiltradas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">dni {{persona.dni}}</p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            criterioDeBusqueda: '',
            criterioDeBusquedaNyA: '',
            criterioDeBusquedaDNI:'',
            //Aquí, en este array es donde tienen que agregar su información
            personas: [
                {
                    nombre: "Daniel",
                    apellido: "Sanchez",
                    correo: "danielsanchez68@hotmail.com",
                    dni: "20442873"
                },
                {
                    nombre: "test",
                    apellido: "abc",
                    correo: "a@b.c",
                    dni: "1111"
                },
                {
                    nombre: "Juan",
                    apellido: "Perez",
                    correo: "jperez@hotmail.com",
                    dni: "3342345"
                },
                {
                    nombre: "Juana",
                    apellido: "Perez",
                    correo: "jperex@hotmail.com",
                    dni: "23456734"
                },
            ]

        },
        computed: {
            personasFiltradas() {
                return this.personas.filter((persona) => {
                    let registroCompleto = `${persona.nombre} ${persona.apellido} ${persona.dni} ${persona.correo}`;
                    let registroNyA = `${persona.nombre} ${persona.apellido}`;
                    let registroDNI = persona.dni;
                    return registroCompleto.toLowerCase().includes(this.criterioDeBusqueda.toLowerCase()) && 
                    registroNyA.toLowerCase().includes(this.criterioDeBusquedaNyA.toLowerCase()) && 
                    registroDNI.toLowerCase().includes(this.criterioDeBusquedaDNI.toLowerCase());
                
                });
            }
        },
        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`;
            }
        }
    });
</script>